@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DK+Loopet:wght@100..400&display=swap');

:root {
    --cor-primaria: #2d0d05;
    --cor-secundaria: #7e230c;
    --cor-terciaria: #0D0D0D:
    --cor-texto: #e4e4e4;
    --font-principal: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Merriweather', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #e4e4e4;
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100%;
    height: 100px;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    color: #e4e4e4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: var(--fonte-principal)
}

/* ----- LOGO ----- */
.logo {
    height: 80px;
    width: 300px;
    display: flex;
    align-items: center;
    padding-right: 100px;
}
.logo img {
    height: 80px;
    margin-right: 20px;
}
.logo h1 {
     font-family: var(--fonte-secundaria);
    font-size: 25px ;
    color: white;
    
}

/*----- MENU -----*/

.menu {
    width: 750px; 
    height: 80px;
}
.menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-secundaria)
}
/* ESPECIFICIDADE */
.menu ul li a{
    padding: 20px 40px;
    color: azure;
    text-decoration: none;
}
.menu ul li a:hover {
    text-decoration: underline;
}

/*-----SEÇÃO HOME ----- */

.linha_home {
    background-image: url("../assets/fundo.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
}
.conteiner {
    width: 1200px;
    height: 100%;
    padding-top: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    font-family: var(--fonte-secundaria);
}
.linha {
    width: 100%;
    height: 100vh;
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-principal);
}

.conteiner_c {
    width: 1200px;
    height: 100%;
    padding-top: 25px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 15px;
    font-family: var(--fonte-secundaria);
}
.estrutura_cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    gap: 50px;
    font-family: 'Montserrat', sans-serif;
}
/*----- CARDS_CARDÁPIO -----*/
.card {
    width: 180px;
    height: 220px;
    background-color:#7e230c ;
    padding: 15px;
    border-radius: 15px;;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}
.card:hover{
    background-color: #2d0d05 ;
    transform: scale(1.05);
}
.card img {
    width: 178px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.card h2 {
    margin: 15px 0px;
    font-size: 18px;
}

.card p {
    font-size: 12px;
}

/*----- RODAPÉ -----*/

footer {
    width: 100%;
    padding: 50px 0;
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.coluna_rodape {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_rodape {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo_rodape img {
    height: 130px;
    width: 130px;
    object-fit: contain;
}

.coluna_rodape h2 {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1rem;
    color: #e4e4e4;
    text-align: center;
    line-height: 1.6;
}

.contato {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.contato img {
    width: 30px;
    height: 30px;
}
